spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081
          jwk-set-uri: http://localhost:8081/oauth2/jwks

logging:
  level:
    com.reddiax.loghealer: DEBUG
    org.springframework.security: DEBUG
    org.springframework.data.elasticsearch.client.WIRE: TRACE
